lesson3/lesson3_5.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        -80
      ],
      "id": "8dbcdf29-c693-4cdb-bc2b-8c2f038c7af8",
      "name": "下載台北市youbike的json資料"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cc654d9-8735-493c-8652-96ea3a23627a",
              "name": "站點名稱",
              "value": "={{ $json.sna }}",
              "type": "string"
            },
            {
              "id": "01282bd8-8e22-4fce-b47e-46aec06b99c7",
              "name": "區域",
              "value": "={{ $json.sarea }}",
              "type": "string"
            },
            {
              "id": "3a691d24-5f7a-4a45-b977-d6adc95348c7",
              "name": "時間",
              "value": "={{ $json.mday }}",
              "type": "string"
            },
            {
              "id": "21ecfbdb-e8f6-4dbb-a3e4-46f181d49534",
              "name": "營業狀態",
              "value": "={{ $json.act ? '營業中' : '休息中' }}",
              "type": "string"
            },
            {
              "id": "9e4ac7f9-fbb0-4165-8332-f9658a8863b5",
              "name": "總數量",
              "value": "={{ $json.Quantity }}",
              "type": "number"
            },
            {
              "id": "bc23fecd-43e7-466b-bfd6-ab8202d15f80",
              "name": "可借",
              "value": "={{ $json.available_rent_bikes }}",
              "type": "number"
            },
            {
              "id": "bd434e12-66d1-404b-a9a4-07f0b5e17605",
              "name": "可還",
              "value": "={{ $json.available_return_bikes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        -80
      ],
      "id": "3a8c458d-4743-437b-9012-d9f55a62d51a",
      "name": "過濾資料"
    },
    {
      "parameters": {
        "operation": "xls",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        288,
        -80
      ],
      "id": "7b43db71-8813-4923-b95c-b8381d5f2400",
      "name": "儲存為excel檔"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 1
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -304,
        176
      ],
      "id": "d32d10b2-906e-4d6a-b857-6763b4b9aad7",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -112,
        176
      ],
      "id": "faf5203f-f381-4be9-9786-65046ae89c30",
      "name": "下載台北市youbike的json資料1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2cc654d9-8735-493c-8652-96ea3a23627a",
              "name": "站點名稱",
              "value": "={{ $json.sna }}",
              "type": "string"
            },
            {
              "id": "01282bd8-8e22-4fce-b47e-46aec06b99c7",
              "name": "區域",
              "value": "={{ $json.sarea }}",
              "type": "string"
            },
            {
              "id": "3a691d24-5f7a-4a45-b977-d6adc95348c7",
              "name": "時間",
              "value": "={{ $json.mday }}",
              "type": "string"
            },
            {
              "id": "21ecfbdb-e8f6-4dbb-a3e4-46f181d49534",
              "name": "營業狀態",
              "value": "={{ $json.act ? '營業中' : '休息中' }}",
              "type": "string"
            },
            {
              "id": "9e4ac7f9-fbb0-4165-8332-f9658a8863b5",
              "name": "總數量",
              "value": "={{ $json.Quantity }}",
              "type": "number"
            },
            {
              "id": "bc23fecd-43e7-466b-bfd6-ab8202d15f80",
              "name": "可借",
              "value": "={{ $json.available_rent_bikes }}",
              "type": "number"
            },
            {
              "id": "bd434e12-66d1-404b-a9a4-07f0b5e17605",
              "name": "可還",
              "value": "={{ $json.available_return_bikes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        80,
        176
      ],
      "id": "3103c0c1-a315-4196-aeae-fc19d259d3a7",
      "name": "過濾資料1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "390bcd56-8c7b-4053-87ee-568befccfe2d",
              "leftValue": "={{ $json['可借'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            },
            {
              "id": "b00b82e6-2ea1-4204-8aaa-27fec669de16",
              "leftValue": "={{ $json['可還'] }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        288,
        176
      ],
      "id": "3eda7a23-edc9-4308-9981-b4cf9756c557",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "ab6e8145-0111-4251-8654-8a61c2f50e9b",
              "name": "站點名稱",
              "value": "={{ $json['站點名稱'] }}",
              "type": "string"
            },
            {
              "id": "63c78921-5ac4-4b3f-9578-22990fc41be7",
              "name": "區域",
              "value": "={{ $json['區域'] }}",
              "type": "string"
            },
            {
              "id": "50991e2a-a188-435e-9b69-061a66d15bc1",
              "name": "時間",
              "value": "={{ $json['時間'] }}",
              "type": "string"
            },
            {
              "id": "f52ad1cc-dd68-45e0-8322-fa7ba8ba555d",
              "name": "營業狀態",
              "value": "={{ $json['營業狀態'] }}",
              "type": "string"
            },
            {
              "id": "95ab52ee-cee3-4365-aaf3-cdee96a48765",
              "name": "總數量",
              "value": "={{ $json['總數量'] }}",
              "type": "number"
            },
            {
              "id": "45920248-5397-4dab-8f8a-b08736c333d0",
              "name": "可借",
              "value": "={{ $json['可借'] }}",
              "type": "number"
            },
            {
              "id": "4f1453fc-8e9f-4bef-9b94-9f4cd1967350",
              "name": "可還",
              "value": "={{ $json['可還'] }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        496,
        48
      ],
      "id": "fc56fc10-4c28-4a63-bd67-05a5210cc200",
      "name": "沒有可借車輛"
    }
  ],
  "connections": {
    "下載台北市youbike的json資料": {
      "main": [
        [
          {
            "node": "過濾資料",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過濾資料": {
      "main": [
        [
          {
            "node": "儲存為excel檔",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "下載台北市youbike的json資料1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "下載台北市youbike的json資料1": {
      "main": [
        [
          {
            "node": "過濾資料1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "過濾資料1": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "沒有可借車輛",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}