lesson4/lesson4_3.json
{
  "nodes": [
    {
      "parameters": {
        "formTitle": "中午訂便當表格",
        "formDescription": "要訂便當的,請填寫",
        "options": {
          "appendAttribution": false,
          "buttonLabel": "開始點餐"
        }
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.4,
      "position": [
        0,
        0
      ],
      "id": "ad3fd8ad-cc2d-423b-9859-057756ac4d9b",
      "name": "On form submission",
      "webhookId": "c8d6ca68-2a15-4c3a-a17b-041df8511fc9"
    },
    {
      "parameters": {
        "formFields": {
          "values": [
            {
              "fieldName": "姓名",
              "fieldLabel": "你的名字",
              "requiredField": true
            },
            {
              "fieldName": "主菜名稱",
              "fieldLabel": "請選取便當種類",
              "fieldType": "dropdown",
              "fieldOptions": {
                "values": [
                  {
                    "option": "排骨-130"
                  },
                  {
                    "option": "雞腿-150"
                  },
                  {
                    "option": "素食- 180"
                  }
                ]
              }
            }
          ]
        },
        "options": {
          "buttonLabel": "下一頁"
        }
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        208,
        0
      ],
      "id": "fcc8c9db-8230-4dfb-aa2e-349c2b8fefd7",
      "name": "Form",
      "webhookId": "f4b1b77d-b712-48b5-93b0-f2cc3a772680"
    },
    {
      "parameters": {
        "operation": "completion",
        "completionTitle": "=感謝{{ $json['姓名'] }}的訂購",
        "completionMessage": "=你點選{{ $json['主菜名稱'] }},請在10點前,交給國堂",
        "options": {}
      },
      "type": "n8n-nodes-base.form",
      "typeVersion": 2.4,
      "position": [
        400,
        0
      ],
      "id": "ba0ce19b-3e8e-4e82-a634-8f4acd85de5a",
      "name": "Form1",
      "webhookId": "2ccc7363-f618-4c7f-9e00-1e6762f6c5c8"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "e2FyDYsCvI5OmnM6",
          "mode": "list",
          "cachedResultName": "單餐資料",
          "cachedResultUrl": "/projects/GqUktFsecD8oxSKs/datatables/e2FyDYsCvI5OmnM6"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "name": "={{ $json['姓名'] }}",
            "kind": "={{ $json['主菜名稱'] }}",
            "datatime": "={{ $json.submittedAt }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "name",
              "displayName": "name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "kind",
              "displayName": "kind",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "datatime",
              "displayName": "datatime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "dateTime",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        608,
        0
      ],
      "id": "4026da0c-c6a8-4c47-8d3e-a46c32c3f60b",
      "name": "Insert row"
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Form",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form": {
      "main": [
        [
          {
            "node": "Form1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Form1": {
      "main": [
        [
          {
            "node": "Insert row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}