lesson4/lesson4_1.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -320,
        -16
      ],
      "id": "44bcf360-b081-4836-979b-84549ceacc44",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "dataTableId": {
          "__rl": true,
          "value": "eZKF1CxJouzs4tzv",
          "mode": "list",
          "cachedResultName": "學生成績表格",
          "cachedResultUrl": "/projects/GqUktFsecD8oxSKs/datatables/eZKF1CxJouzs4tzv"
        },
        "returnAll": true
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1.1,
      "position": [
        -112,
        -16
      ],
      "id": "4bb50414-5a94-49bd-9f6e-6ee3446c0f81",
      "name": "Get row(s)"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "614d4666-d01a-40bb-b119-562d42d45e1e",
              "leftValue": "={{ $json.chinese }}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "963d2b62-3b49-448f-b2f6-2c1175b40ea3",
              "leftValue": "={{ $json.english }}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "7dc21b3d-bd49-4d2d-84bf-aa007a0bce12",
              "leftValue": "={{ $json.math }}",
              "rightValue": 90,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        96,
        -16
      ],
      "id": "81eb8685-6556-441d-926a-3622916cc685",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6bd573d6-a6c2-494a-b2a0-7b20f8693a99",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        528,
        -176
      ],
      "id": "4b4b2b53-ec05-4272-973e-011eb9b6682b",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "d4e6524c-d833-4155-bac9-5a97893845fe",
              "leftValue": "={{ $json.chinese }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "6a5bf5fb-1404-4be4-af50-9afbcbf931a4",
              "leftValue": "={{ $json.english }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            },
            {
              "id": "0389b7c3-13ba-4066-8e16-2de1e7f70966",
              "leftValue": "={{ $json.math }}",
              "rightValue": 80,
              "operator": {
                "type": "number",
                "operation": "gte"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        304,
        80
      ],
      "id": "178f9e77-a349-4cee-956b-668c9bbce0fa",
      "name": "If1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3e1c815e-a591-425d-aafe-03e3d1a0bfbc",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -16
      ],
      "id": "a251a9a2-99bf-4217-bca3-57033c1ae3c4",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "91ee4beb-4b1e-44e1-aeb6-f60ed2f2a3f3",
              "name": "name",
              "value": "={{ $json.name }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        176
      ],
      "id": "ab605c00-271d-4989-a5eb-8a2e133c886c",
      "name": "Edit Fields2"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get row(s)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s)": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}