lesson6/lesson6_2.json
{
  "nodes": [
    {
      "parameters": {
        "url": "https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -304,
        224
      ],
      "id": "04563215-f66c-47b1-8c99-5a283e7bccf5",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78e00a81-42a8-40ff-9573-c160be24ac10",
              "name": "站點名稱",
              "value": "={{ $json.sna }}",
              "type": "string"
            },
            {
              "id": "f794bf14-2098-46f2-9900-39dab73fbd03",
              "name": "區域",
              "value": "={{ $json.sarea }}",
              "type": "string"
            },
            {
              "id": "035b00c5-9e2f-4039-b73d-f577f8bbea4a",
              "name": "時間",
              "value": "={{ $json.mday }}",
              "type": "string"
            },
            {
              "id": "6fe9caa1-b890-45ac-93d3-e6210195ebc0",
              "name": "總車輛數",
              "value": "={{ $json.Quantity }}",
              "type": "number"
            },
            {
              "id": "39f68651-288b-4def-8076-5cf6227e64ae",
              "name": "可借",
              "value": "={{ $json.available_rent_bikes }}",
              "type": "number"
            },
            {
              "id": "4bd9bcf5-8fc2-4105-92da-3cf2883c7211",
              "name": "可還",
              "value": "={{ $json.available_return_bikes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -112,
        224
      ],
      "id": "73aaece3-c1b3-4469-b46f-d8d30dfbb4ff",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "path": "64ed4de6-ed5e-4095-995f-6f814262737b",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -496,
        224
      ],
      "id": "6e79393b-184f-4045-b81d-8e773c8ba4d5",
      "name": "Webhook",
      "webhookId": "64ed4de6-ed5e-4095-995f-6f814262737b"
    },
    {
      "parameters": {
        "respondWith": "allIncomingItems",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        64,
        224
      ],
      "id": "a8b4e0ae-7d5c-4014-9867-fb1e30b54e12",
      "name": "Respond to Webhook"
    }
  ],
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}