lesson6/lesson6_1.json
{
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -224,
        -80
      ],
      "id": "da8e7dd3-f94e-49e5-8854-b2b4413773a8",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://tcgbusfs.blob.core.windows.net/dotapp/youbike/v2/youbike_immediate.json",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -16,
        -80
      ],
      "id": "d800c67f-6470-42a1-9187-6d585617e4e2",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json['區域'] }}",
                    "rightValue": "大安區",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "28d394b6-4637-4462-9fc3-d5ba8262db76"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3538da87-b80d-46bc-9fb5-a224904520b1",
                    "leftValue": "={{ $json['區域'] }}",
                    "rightValue": "士林區",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5edd0c1d-9f90-4080-b3bf-8fc689c04672",
                    "leftValue": "={{ $json['區域'] }}",
                    "rightValue": "北投區",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        384,
        -96
      ],
      "id": "320ba65e-e3ec-4f02-a30d-89e53f9407cd",
      "name": "Switch"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78e00a81-42a8-40ff-9573-c160be24ac10",
              "name": "站點名稱",
              "value": "={{ $json.sna }}",
              "type": "string"
            },
            {
              "id": "f794bf14-2098-46f2-9900-39dab73fbd03",
              "name": "區域",
              "value": "={{ $json.sarea }}",
              "type": "string"
            },
            {
              "id": "035b00c5-9e2f-4039-b73d-f577f8bbea4a",
              "name": "時間",
              "value": "={{ $json.mday }}",
              "type": "string"
            },
            {
              "id": "6fe9caa1-b890-45ac-93d3-e6210195ebc0",
              "name": "總車輛數",
              "value": "={{ $json.Quantity }}",
              "type": "number"
            },
            {
              "id": "39f68651-288b-4def-8076-5cf6227e64ae",
              "name": "可借",
              "value": "={{ $json.available_rent_bikes }}",
              "type": "number"
            },
            {
              "id": "4bd9bcf5-8fc2-4105-92da-3cf2883c7211",
              "name": "可還",
              "value": "={{ $json.available_return_bikes }}",
              "type": "number"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        192,
        -80
      ],
      "id": "71253e20-93f8-4805-8655-60b5d7cee6f7",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1w1mWPFean4TTl4TsJA_QnHb8LRMGy31RuHk_eihu5zA",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": 949024395,
          "mode": "list",
          "cachedResultName": "大安區",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w1mWPFean4TTl4TsJA_QnHb8LRMGy31RuHk_eihu5zA/edit#gid=949024395"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "站點名稱": "={{ $json['站點名稱'] }}",
            "時間": "={{ $json['時間'] }}",
            "總車輛數": "={{ $json['總車輛數'] }}",
            "可借": "={{ $json['可借'] }}",
            "可還": "={{ $json['可還'] }}"
          },
          "matchingColumns": [
            "站點名稱"
          ],
          "schema": [
            {
              "id": "站點名稱",
              "displayName": "站點名稱",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "時間",
              "displayName": "時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "總車輛數",
              "displayName": "總車輛數",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "可借",
              "displayName": "可借",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "可還",
              "displayName": "可還",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -208
      ],
      "id": "eeb5e4f2-5a4b-4f49-b67c-9637806a715a",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5aeSky9Aez0k63U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "1w1mWPFean4TTl4TsJA_QnHb8LRMGy31RuHk_eihu5zA",
          "mode": "list",
          "cachedResultName": "youbike",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w1mWPFean4TTl4TsJA_QnHb8LRMGy31RuHk_eihu5zA/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "士林區",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1w1mWPFean4TTl4TsJA_QnHb8LRMGy31RuHk_eihu5zA/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "站點名稱": "={{ $json['站點名稱'] }}",
            "時間": "={{ $json['時間'] }}",
            "總車輛數": "={{ $json['總車輛數'] }}",
            "可借": "={{ $json['可借'] }}",
            "可還": "={{ $json['可還'] }}"
          },
          "matchingColumns": [
            "站點名稱"
          ],
          "schema": [
            {
              "id": "站點名稱",
              "displayName": "站點名稱",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "時間",
              "displayName": "時間",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "總車輛數",
              "displayName": "總車輛數",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "可借",
              "displayName": "可借",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "可還",
              "displayName": "可還",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        592,
        -96
      ],
      "id": "58235348-12cf-47b1-ad38-6f95402411cf",
      "name": "Append or update row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "P5aeSky9Aez0k63U",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "xlsx",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        592,
        80
      ],
      "id": "39db385d-ad62-4e73-8be1-5e8cac653d94",
      "name": "Convert to File"
    }
  ],
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Append or update row in sheet1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d135f5bcfa8bdece905b6d778df94a7be68624c12d1878e14ba64eeb17a04d82"
  }
}